/* Stili per il footer */
footer { 
  padding: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 0.8rem; 
  text-align: center; 
  color: var(--white);
  background-color: var(--dark-slate-gray); 
  border-top: 2px solid var(--cadet-blue); 
}

/* Stili per la sezione di testo del footer */
footer > div:first-child {
  margin-bottom: 0.5rem; 
}

/* Stili per la sezione delle icone */
footer > div:last-child {
  display: flex; 
  justify-content: center; 
  gap: 1rem; 
}

/* Stili per le icone */
footer svg { 
  font-size: 1.5rem;
  color: var(--white); 
}

