/* Stili per l'header */
header { 
  display: flex; 
  align-items: center; 
  padding: 1rem 2rem; 
  color: var(--white);
  background-color: var(--dark-slate-gray); 
  flex-direction: column; 
  border-bottom: 2px solid var(--cadet-blue); 
}

/* Stili per la navbar */
.navbar {
  display: flex; 
  justify-content: center;
  width: 100%; 
  margin-bottom: 1rem; 
}

/* Stili per i link della navbar */
.navbar a { 
  margin: 0 1rem; 
  font-size: 1rem; 
  font-weight: 600; 
  text-decoration: none;
  color: var(--white); 
  transition: color 0.3s ease; 
}

.navbar a:hover {
  color: var(--coral); 
}

/* Stili per i documenti */
header > div { 
  font-size: 1rem; 
  font-weight: 400; 
  text-align: center; 
  color: var(--white);
  margin-top: 1rem; 
}
