/* Stili per l'header */
header { 
  display: flex; 
  align-items: center; 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  color: var(--white);
  background-color: var(--dark-slate-gray); 
  flex-direction: column; 
  border-bottom: 2px solid var(--cadet-blue);
}

