.homepage-container {
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: 100px auto;
    grid-template-areas: 
    "title title"
    "form utility"
    ;
    text-transform: lowercase;
}

.homepage-title {
    grid-area: title;
    text-align: center;
}

.homepage-form {
    grid-area: form;
}

.homepage-utility {
    grid-area: utility;
}

.homepage-subtitle {
    display: flex;
    align-items: center;
}
