/* Stili per i pulsanti */
.homepage-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: var(--dark-slate-gray);
    cursor: pointer;
    gap: 8px;
    transition: background-color 0.3s
}

.homepage-btn:hover {
    color: var(--dark-slate-gray);
    background-color: var(--coral);
}

.homepage-btn svg {
    font-size: 20px;
}

/* Container principale */
.homepage-container {
    display: grid;
    justify-content: center;
    border-radius: 10px;
    gap: 0 20px;
    grid-template-columns: repeat(3, 180px);
    grid-template-rows: auto;
    grid-template-areas: 
        "title title title"
        "form manage control";
}

.homepage-title {
    grid-area: title;
}

/* Sezioni principali */
.homepage-form,
.homepage-manage,
.homepage-control {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    padding: 10px;
    border: 2px solid var(--cadet-blue);
    border-radius: 10px;
    background-color: var(--grey);
    flex-direction: column;
    gap: 10px;
}

.homepage-form {
    grid-area: form;
}

.homepage-manage {
    grid-area: manage;
}

.homepage-control {
    grid-area: control;
}

/* Effetto hover */
.homepage-form:hover,
.homepage-manage:hover,
.homepage-control:hover {
    border: 2px solid transparent;
    outline: 2px solid var(--coral);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

/* Stili per i sottotitoli */
.homepage-subtitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--dark-slate-gray);
    margin-bottom: 10px;
}

.homepage-subtitle h4 {
    margin-top: 0px;
}

.homepage-subtitle svg {
    font-size: 24px;
}
