@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --cadet-blue: #5F9EA0;
    --coral: #FF7F50;
    --light-salmon: #FFA07A;
    --orange: #FFA500;
    --dark-slate-gray: #282c34;
    --ocean-blue: #3a698f;
    --white: #f4f4f4;
    --grey: #ccc;
}

body {
  margin: 0;
  font-family: "Montserrat", "roboto", sans-serif;
  font-weight: 400;
  text-transform: capitalize;
  color: var(--white);
  background-color: var(--ocean-blue);
  letter-spacing: 0.05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h3 {
  text-transform: uppercase;
  color: var(--orange);
}

* {
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

