
/* Stili per le liste */
.navbar-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Stili per gli elementi della lista */
.navbar-li {
  transition: color 0.3s ease; 
  padding-right: 20px;
}

.navbar-li:hover {
  cursor: pointer;
  color: var(--orange);
}

/* Stili per le icone all'interno degli elementi della lista */
.navbar-li > svg {
  font-size: 1rem;
  margin-right: 10px;
}

/* Stili per i link */
a {
  text-decoration: none;
  color: inherit; 
}

/* Stile per il link attivo */
.active {
  color: var(--coral); 
}

