/* Stili per la navbar */
nav { 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 0.5rem 2rem; 
  color: var(--white);
  background-color: var(--dark-slate-gray); 
  border-bottom: 2px solid var(--cadet-blue); 
}
ul {
  list-style: none;
}

nav > div {
  font-size: 1.5rem; 
  font-weight: 700; 
}

img {
  width: 100px;
  height: 100px;

}
